<h3>main#index</h3>

<%= form_tag("/crawls/create", method: "post") do %>
	<%= select_tag(:station, options_from_collection_for_select(@stations, "id", "name")) %>
	<%= submit_tag value="One More Drink!"%>
<% end %>
